<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie8">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie9">
<![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      tiles:include="header" />

<body>

<header id="header" tiles:include="pageHeader" />
<div tiles:include="pageBody" />
<footer id="footer" tiles:include="pageFooter" />

 <!-- core javascript -->
 <script type="text/javascript" th:src="@{/js/core/jquery-1.10.2.min.js}"></script>
 <script type="text/javascript" th:src="@{/js/core/jquery.ui-1.10.3.js}"></script>
 <script type="text/javascript" th:src="@{/js/core/bootstrap.min.js}"></script>

 <div tiles:include="javascript"></div>

</body>
</html>