<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<description>Spring MVC Test Application</description>

	<display-name>springweb</display-name>

	<filter>
		<filter-name>hibernateSessionFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>hibernateSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- configure spring security filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:application-jpa-context.xml,
			classpath:app-jpa-dao-ctx.xml,
			classpath:application-security-ctx.xml
    </param-value>
	</context-param>

	<!-- spring mvc servlet -->
	<servlet>
		<description>Spring MVC Dispatcher Servlet</description>
		<servlet-name>springweb</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>springweb</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>

	<!-- spring webservice servlet -->
	<servlet>
		<servlet-name>spring-ws</servlet-name>
		<servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring-ws</servlet-name>
		<url-pattern>/spring-ws/*</url-pattern>
	</servlet-mapping>
	
	<!-- direct web remoting servlet -->
	<servlet>
		<description>DWR Servlet</description>
		<servlet-name>dwrweb</servlet-name>
		<servlet-class>org.directwebremoting.spring.DwrSpringServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dwrweb</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

</web-app>
